:root{
    --sidebar-bg: #FFF;
    --sidebar-menu-item-color: #545a6d;
    --sidebar-menu-sub-item-color: #545a6d;
    --sidebar-menu-item-icon-color: #7f8387;
    --sidebar-menu-item-hover-color: #383c40;
    --sidebar-menu-item-active-color: #556ee6;
    --primary: #fff;
}